<div class="row animated fadeIn">
  <div class="col-md-12 col-sm-12">
      <div class="card">
          <div class="card-body">

              <input #input (keyup)="buscarCliente(input.value)" type="text" class="form-control" placeholder="Buscar clientes...">

          </div>
      </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
      <div class="alert alert-warning text-center">
          <strong>Cargando</strong>
          <br>
          <i class="fa fa-refresh fa-spin fa-2x"></i>
          <br>
          <strong>Espere por favor</strong>
      </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-md-12 col-sm-12">
      <div class="card">
          <div class="card-body">

              <h3>Clientes registrados ( <small>{{totalRegistros}}</small> )</h3>
              <table class="table table-hover">
                  <thead>
                      <th>Imagen</th>
                      <th>Correo</th>
                      <th>Nombre</th>
                      <th>Identificacion</th>
                      <th>Celular</th>
                      <th>Telefono</th>
                      <th>Direccion</th>
                      <th>Opciones</th>
                      <th></th>
                  </thead>

                  <tbody>

                      <tr *ngFor="let cliente of clientes" > <!-- [ngClass]="{'table-warning':usuario.estado==='I'}" -->

                        <!-- <form ngNativeValidate [formGroup]="forma" (ngSubmit)="guardar()" class="form-horizontal form-material" id="loginform" action="index.html"> -->
                          <td>
                              <!-- <img (click)="mostrarModal(usuario.id_usuario)" [src]="usuario.img | imagen" class="img50 img-circle pointer"> -->
                              <img [src]="cliente.img | imagen" class="img50 img-circle pointer">
                          </td>
                          <td *ngIf="cliente.ban_editar">
                            <input  class="form-control" type="text" required placeholder="Nombre" [(ngModel)]="cliente.email">
                          </td>
                          <td *ngIf="!cliente.ban_editar">{{cliente.email}}</td>

                          <td *ngIf="cliente.ban_editar">
                            <input  class="form-control" type="text" required placeholder="Nombre" [(ngModel)]="cliente.nombre">
                          </td>
                          <td *ngIf="!cliente.ban_editar">{{cliente.nombre}}</td>
                          <td *ngIf="cliente.ban_editar">
                            <input  class="form-control" type="text" required placeholder="Nombre" [(ngModel)]="cliente.identificacion">
                          </td>
                          <td *ngIf="!cliente.ban_editar">{{cliente.identificacion}}</td>

                          <td *ngIf="cliente.ban_editar">
                            <input  class="form-control" type="text" required placeholder="Nombre" [(ngModel)]="cliente.celular">
                          </td>
                          <td *ngIf="!cliente.ban_editar">
                            {{cliente.celular}}
                          </td>

                          <td *ngIf="cliente.ban_editar">
                            <input  class="form-control" type="text" required placeholder="Nombre" [(ngModel)]="cliente.telefono">
                          </td>
                          <td *ngIf="!cliente.ban_editar">
                            {{cliente.telefono}}
                          </td>

                          <td *ngIf="cliente.ban_editar">
                            <input  class="form-control" type="text" required placeholder="Nombre" [(ngModel)]="cliente.direccion">
                          </td>
                          <td *ngIf="!cliente.ban_editar">{{cliente.direccion}}</td>
                          <td>
                              <button (click)='cliente.ban_editar=true' *ngIf='!cliente.ban_editar' class="btn btn-success">
                                  <li class="fa fa-edit"></li>
                              </button>
                              <button *ngIf='cliente.ban_editar' (click)='actualizarCliente(cliente)' class="btn btn-success">
                                <li class="fa fa-save"></li>
                              </button>
                              <button *ngIf='cliente.ban_editar' (click)='cliente.ban_editar=false' class="btn btn-warning">
                                <li class="fa fa-ban"></li>
                              </button>
                              <!-- <button (click)='desactivarUsuario(usuario)' [disabled]="usuario.estado==='I'" class="btn btn-warning">
                                  <li class="fa fa-ban"></li>
                              </button> -->
                          </td>

                      </tr>

                  </tbody>

              </table>
              <button (click)="cambiarDesde('A')" class="btn btn-secondary">
                  Anteriores
              </button>
              <button (click)="cambiarDesde('S')" class="btn btn-secondary">
                  Siguientes
              </button>
          </div>
      </div>
  </div>
</div>
