<div class="card">
  <div class="card-header bg-info">
    <h4 class="m-b-0 text-white" style="display: inline;">Factura <span *ngIf="facturaSeleccionada">No
        {{facturaSeleccionada.num_factura}} Estado: {{facturaSeleccionada.estado}}</span></h4>
    <div class="card-actions">
      <button class="btn btn-xs btn-success" (click)="mostrarModalPago()"
        *ngIf="esConsulta && !esCotizacion && facturaSeleccionada.saldo>0">
        <li class="fa fa-money"></li>
      </button>
      <button class="btn btn-xs btn-warning" (click)="generatePdf()" *ngIf="esConsulta">
        <li class="fa fa-file"></li>
      </button>
      <button class="btn btn-xs btn-success" (click)="esConsulta=false" *ngIf="esConsulta">
        <li class="fa fa-edit"></li>
      </button>
      <button class="btn btn-xs btn-danger" (click)="redirectTo()" *ngIf="facturaSeleccionada && !esConsulta">
        <li class="fa fa-times"></li>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form ngNativeValidate [formGroup]="clienteForm" (ngSubmit)="createClient()" action="#">
      <fieldset [disabled]="esConsulta">
        <div class="form-body">
          <h3 class="card-title">Datos generales</h3>
          <p *ngIf="facturaSeleccionada">Debe: {{facturaSeleccionada.saldo}}</p>
          <p *ngIf="facturaSeleccionada">Total: {{facturaSeleccionada.total}}</p>
          <hr>
          <div class="row p-t-1">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Cedula cliente</label>

                <ng-autocomplete formControlName="identificacion" [data]="clientes" [searchKeyword]="keyword"
                  (selected)='selectEvent($event,1)' (inputChanged)='onChangeSearch($event,1)'
                  (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="'<b>'+item.identificacion+' </b>'+item.nombre"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <small *ngIf="clienteForm.controls['identificacion'].errors?.required" class="text-warning">
                  Identificacion es requerida
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre"
                  [ngClass]="{'form-control': true,'warning-input': !clienteForm.get('nombre').valid}"
                  placeholder="Digite nombre">
                <small *ngIf="clienteForm.controls['nombre'].errors?.required" class="text-warning">
                  Nombre es requerido
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">email</label>
                <input type="text" id="email" formControlName="email"
                  [ngClass]="{'form-control': true,'error-input': !clienteForm.get('email').valid}"
                  placeholder="Digite email">
                <small *ngIf="clienteForm.controls['email'].invalid" class="text-danger">
                  Error en email
                </small>
                <!-- <small class="form-control-feedback">{{ getError('email')}}</small> -->
              </div>
            </div>
          </div>
          <div class="row p-t-1">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">direccion</label>
                <input type="text" id="direccion" formControlName="direccion"
                  [ngClass]="{'form-control': true,'error-input': !clienteForm.get('direccion').valid}"
                  placeholder="Digite direccion">
                <small *ngIf="clienteForm.controls['direccion'].invalid" class="text-danger">
                  Error en la direccion
                </small>
                <!-- <small class="form-control-feedback">{{ getError('direccion')}}</small> -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">celular</label>
                <input type="text" id="celular" formControlName="celular"
                  [ngClass]="{'form-control': true,'error-input': !clienteForm.get('celular').valid}"
                  placeholder="Digite celular">
                <small *ngIf="clienteForm.controls['celular'].invalid" class="text-danger">
                  Error en celular
                </small>
                <!-- <small class="form-control-feedback">{{ getError('celular')}}</small> -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">telefono</label>
                <input type="text" id="telefono" formControlName="telefono"
                  [ngClass]="{'form-control': true,'error-input': !clienteForm.get('telefono').valid}"
                  placeholder="Digite telefono">
                <small *ngIf="clienteForm.controls['telefono'].invalid" class="text-danger">
                  Error en telefono
                </small>
                <!-- <small class="form-control-feedback">{{ getError('telefono')}}</small> -->
              </div>
            </div>
          </div>
          <!--/row-
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group has-success">
                      <label class="control-label">Gender</label>
                      <select class="form-control custom-select">
                          <option value="">Male</option>
                          <option value="">Female</option>
                      </select>
                      <small class="form-control-feedback"> Select your gender </small> </div>
              </div>
              <!--/span
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="control-label">Date of Birth</label>
                      <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                  </div>
              </div>
              <!--/span
          </div>
          <!--/row-
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="control-label">Category</label>
                      <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                          <option value="Category 1">Category 1</option>
                          <option value="Category 2">Category 2</option>
                          <option value="Category 3">Category 5</option>
                          <option value="Category 4">Category 4</option>
                      </select>
                  </div>
              </div>
              <!--/span
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="control-label">Membership</label>
                      <div class="m-b-10">
                          <label class="custom-control custom-radio">
                              <input id="radio1" name="radio" type="radio" class="custom-control-input">
                              <span class="custom-control-label">Free</span>
                          </label>
                          <label class="custom-control custom-radio">
                              <input id="radio2" name="radio" type="radio" class="custom-control-input">
                              <span class="custom-control-label">Paid</span>
                          </label>
                      </div>
                  </div>
              </div>
              <!--/span
          </div>
          <!--/row
          <h3 class="box-title m-t-40">Address</h3>
          <hr>
          <div class="row">
              <div class="col-md-12 ">
                  <div class="form-group">
                      <label>Street</label>
                      <input type="text" class="form-control">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label>City</label>
                      <input type="text" class="form-control">
                  </div>
              </div>
              <!--/span
              <div class="col-md-6">
                  <div class="form-group">
                      <label>State</label>
                      <input type="text" class="form-control">
                  </div>
              </div>
              <!--/span
          </div>
          <!--/row
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Post Code</label>
                      <input type="text" class="form-control">
                  </div>
              </div>
              <!--/span
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Country</label>
                      <select class="form-control custom-select">
                          <option>--Select your Country--</option>
                          <option>India</option>
                          <option>Sri Lanka</option>
                          <option>USA</option>
                      </select>
                  </div>
              </div>
              <!--/span
          </div>-->
        </div>

        <div class="form-actions text-center" *ngIf="!esConsulta">
          <button type="submit" class="btn btn-success" *ngIf="!clienteSeleccionado" [disabled]="clienteForm.invalid">
            <i class="fa fa-check"></i> Crear cliente</button>
          <button type="button" class="btn btn-info" *ngIf="clienteSeleccionado" (click)="updateClient()"
            [disabled]="clienteForm.invalid"><i class="fa fa-pencil"></i> Actualizar cliente</button>
        </div>
      </fieldset>
    </form>

    <!--   <form ngNativeValidate [formGroup]="datosGeneralesForm" action="#">
      <div class="form-body">
        <div class="row p-t-1">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Transporte</label>
              <input type="text" id="transporte" formControlName="transporte"
                [ngClass]="{'form-control': true,'warning-input': !datosGeneralesForm.get('transporte').valid}"
                placeholder="Digite transporte" (change)="changeDatosGenerales()">
              <small *ngIf="datosGeneralesForm.controls['transporte'].errors?.required" class="text-warning">
                Transporte es requerido
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Descuento</label>
              <input type="text" id="descuento" formControlName="descuento"
                [ngClass]="{'form-control': true,'warning-input': !datosGeneralesForm.get('descuento').valid}"
                placeholder="Digite descuento" (change)="changeDatosGenerales()">
              <small *ngIf="datosGeneralesForm.controls['descuento'].errors?.required" class="text-warning">
                Descuento es requerido
              </small>
            </div>
          </div>
        </div>
      </div>
    </form> -->
  </div>
</div>

<div class="card" *ngIf="!esConsulta">
  <div class="card-body" #card_inventario>
    <form ngNativeValidate [formGroup]="invSucursalForm" (ngSubmit)="addItemFactura()" action="#">

      <div class="form-body">
        <div class="row p-t-1">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Nuevo item</label>

              <ng-autocomplete formControlName="descripcion" [data]="invSucursal" [searchKeyword]="keywordInvSucursal"
                (selected)='selectEvent($event,2)' (inputChanged)='onChangeSearch($event,2)'
                (inputCleared)="clearedEvente(2)" (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplateinv"
                [disabled]="editar" [notFoundTemplate]="notFoundTemplateinv">
              </ng-autocomplete>

              <ng-template #itemTemplateinv let-item>
                <a [innerHTML]="'<b>'+item.codigo+' </b>'+item.descripcion"></a>
              </ng-template>

              <ng-template #notFoundTemplateinv let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
              <small *ngIf="invSucursalForm.controls['descripcion'].errors?.required" class="text-warning">
                Inventario requerido
              </small>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Codigo</label>
              <input type="text" id="codigo" formControlName="codigo" [ngClass]="{'form-control': true}"
                placeholder="Digite codigo" disabled="true">
            </div>
          </div> -->
          <div class="col-md-6">
            <div class="form-group" *ngIf="!banBtnCambio">
              <label class="control-label">Cantidad Item</label>
              <input type="number" formControlName="cantidad_item" step="0.01"
                [ngClass]="{'form-control': true,'warning-input': (!invSucursalForm.get('cantidad_item').valid || !cantidadValida())}"
                placeholder="Digite cantidad">
            </div>
          </div>

        </div>
        <div class="row p-t-1" formArrayName="parametros" *ngIf="!banBtnCambio">
          <div *ngFor="let p of getParametros.controls;let i= index" class="col-md-{{(12/getParametros.length)}}">
            <div class="form-group">
              <label class="control-label">Parametro</label>
              <input type="number" step="0.01" class="form-control" formControlName="{{i}}"
                [ngClass]="{'form-control': true,'warning-input': (!invSucursalForm.get('parametros').get(''+i).valid || !maxValidoParametro())}">
            </div>
          </div>
        </div>
        <div class="row p-t-1">
          <div class="col-md-12 text-center">
            <div class="form-group">
              <input formControlName="instalado" id="instalado" type="checkbox" class="filled-in chk-col-light-blue">
              <label for="instalado"> Instalado </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions text-center" *ngIf="!editar && !banBtnCambio">
        <!-- [disabled]="invSucursalForm.invalid" -->
        <button type="submit" class="btn btn-success" [disabled]="invSucursalForm.invalid || !maxValidoParametro()"> <i
            class="fa fa-check"></i> Añadir</button>
        <br>

      </div>

    </form>
    <div class="text-center" *ngIf="editar && !banBtnCambio">
      <button (click)="aplitChangueItem('texto')" class="btn btn-success"
        [disabled]="invSucursalForm.invalid || !maxValidoParametro()"> <i class="fa fa-check"></i> Editar</button>
    </div>
    <div class="text-center" *ngIf="banBtnCambio">
      <button (click)="cambiarItems()" class="btn btn-success" [disabled]="!this.invSucursalSeleccionado">
        <i class="fa fa-check"></i> Cambio</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body" #table_items>


    <!--  <h3>Clientes registrados ( <small>{{totalRegistros}}</small> )</h3> -->
    <input [(ngModel)]="instalado" id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue"
      (change)="changeVrVenta()" *ngIf="!esConsulta">
    <label for="checkbox-signup" *ngIf="!esConsulta"> Instalado </label>
    <h4><b># Articulos=</b><b>[{{itemsFactura.length }}]</b> <b>Total=[</b><b
        class="text-error">{{totales.total | currency:'$'}}</b>]
    </h4>
    <div class="table-responsive m-t-20">
      <table class="table table-striped">
        <thead>
          <th *ngIf="!esConsulta"></th>
          <th>Cant</th>
          <th><input [(ngModel)]="esCambio" id="checkbox-cambio" type="checkbox" (change)="selectCambio(null)"
              *ngIf="!esConsulta">
            <label for="checkbox-cambio" style="display: inline;"></label>descripcion</th>
          <th>Vr Unitario</th>
          <th>Total</th>
        </thead>
        <tbody>

          <tr *ngFor="let item of itemsFactura;let i=index;">
            <td class="text-center" *ngIf="!esConsulta">

              <button class="btn btn-xs btn-info" (click)="editItem(item)" *ngIf="!banBtnCambio">
                <li class="fa fa-edit"></li>
              </button>
              <button class="btn btn-xs btn-danger" (click)="deletedItem(item)">
                <li class="fa fa-times"></li>
              </button>
            </td>
            <td>{{item.cantidad_item}}</td>
            <td>
              <input [(ngModel)]="item.esCambio" id="checkbox-item-{{i}}" type="checkbox"
                *ngIf="item.cambio=='S' && !esConsulta" (change)="selectCambio(item)">
              <label for="checkbox-item-{{i}}" style="display: inline;"></label>
              [<span *ngFor="let p of item.parametros;let i = index"><b> {{p}} </b><b
                  *ngIf="i<item.parametros.length-1"> X </b></span> ] {{item.codigo}} {{item.descripcion}}</td>
            <td>{{item.total/item.cantidad_item | currency: '$ '}}</td>
            <td>{{item.total | currency: '$ '}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <form ngNativeValidate [formGroup]="datosGeneralesForm" action="#">
      <fieldset [disabled]="esConsulta">
        <div class="form-body">
          <div class="row p-t-1">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Transporte</label>
                <input type="text" id="transporte" formControlName="transporte"
                  [ngClass]="{'form-control': true,'warning-input': !datosGeneralesForm.get('transporte').valid}"
                  placeholder="Digite transporte" (change)="changeDatosGenerales()">
                <small *ngIf="datosGeneralesForm.controls['transporte'].errors?.required" class="text-warning">
                  Transporte es requerido
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Descuento</label>
                <input type="text" id="descuento" formControlName="descuento"
                  [ngClass]="{'form-control': true,'warning-input': !datosGeneralesForm.get('descuento').valid}"
                  placeholder="Digite descuento" (change)="changeDatosGenerales()">
                <small *ngIf="datosGeneralesForm.controls['descuento'].errors?.required" class="text-warning">
                  Descuento es requerido
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Pago</label>
                <input type="text" id="abono" formControlName="abono"
                  [ngClass]="{'form-control': true,'warning-input': !datosGeneralesForm.get('abono').valid}"
                  placeholder="Digite abono"
                  [readOnly]="itemsFactura.length==0 || (facturaSeleccionada && !esCotizacion)">
                <small *ngIf="datosGeneralesForm.controls['abono'].errors?.required" class="text-warning">
                  abono es requerido
                </small>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <h4><b># Articulos= {{totales.cantidad_items}} Sub Total= {{totales.sub_total}} Vr
        Transporte= {{totales.transporte}} Vr Descuento = {{totales.vr_descuento}} Vr
        antes de iva= {{totales.vr_antes_iva}} Vr de iva= {{totales.vr_iva}} Total F=
        {{totales.total}} Saldo: <span *ngIf="totales.total>=datosGeneralesForm.value.abono">
          {{totales.total-datosGeneralesForm.value.abono | currency}} </span>
        <span *ngIf="totales.total<datosGeneralesForm.value.abono"> 0 </span>
        Regreso:
        <span *ngIf="datosGeneralesForm.value.abono>totales.total">
          {{datosGeneralesForm.value.abono-totales.total | currency}} </span>
        <span *ngIf="datosGeneralesForm.value.abono<totales.total"> 0 </span>
      </b></h4>
    <!-- <div class="text-center">
      <button (click)="cambiarDesde('A')" class="btn btn-success">

        <li class="fa fa-fast-backward"></li>
      </button>
      <button (click)="cambiarDesde('S')" class="btn btn-success">
        <li class="fa fa-fast-forward"></li>
      </button>
    </div> -->
    <div class="text-center" *ngIf="!esConsulta">
      <button (click)="guardarFactura(false)" class="btn btn-success" [disabled]="!validarFormularios(false)">
        <i class="fa fa-check"></i>Facturar</button>
      <button (click)="guardarFactura(true)" class="btn btn-info" [disabled]="!validarFormularios(true)">
        <i class="fa fa-check"></i>Cotizar</button>
    </div>
  </div>
</div>

<div class="fondo_negro animated fadeIn" [ngClass]="oculto">
  <div class="modal" style="display: block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="oculto==''">
        <div class="modal-header">
          <h5 class="modal-title">Realizar Pago</h5>
          <button (click)="cerrarModalPago()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center" >
          <form ngNativeValidate [formGroup]="pagoForm" action="#" >
            <!-- <fieldset [disabled]="esConsulta"> -->
            <div class="form-body">
              <div class="row p-t-1">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Abono</label>
                    <input type="text" id="abono" formControlName="abono"
                      [ngClass]="{'form-control': true,'warning-input': !pagoForm.get('abono').valid}"
                      placeholder="Digite abono" [readOnly]="(facturaSeleccionada && esCotizacion)">
                    <small *ngIf="pagoForm.controls['abono'].errors?.required" class="text-warning">
                      abono es requerido
                    </small>
                    <small *ngIf="!pagoForm.get('abono').valid" class="text-warning">
                      digite un monto valido
                    </small>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Pago</label>
                    <input type="text" id="pago" formControlName="pago"
                      [ngClass]="{'form-control': true,'warning-input': !pagoForm.get('pago').valid}"
                      placeholder="Digite pago" [readOnly]="(facturaSeleccionada && esCotizacion)">
                    <small *ngIf="pagoForm.controls['pago'].errors?.required" class="text-warning">
                      pago es requerido
                    </small>
                    <small *ngIf="!pagoForm.get('abono').valid || (pagoForm.value.pago-pagoForm.value.abono<0)"
                      class="text-warning">
                      digite un monto valido
                    </small>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Regreso</label>
                    <h2 *ngIf="pagoForm.value.pago-pagoForm.value.abono>=0">
                      {{pagoForm.value.pago-pagoForm.value.abono | currency}}</h2>
                    <h2 *ngIf="pagoForm.value.pago-pagoForm.value.abono<0">Error</h2>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Saldo</label>
                    <h2 *ngIf="facturaSeleccionada.saldo-pagoForm.value.abono>=0">
                      {{facturaSeleccionada.saldo-pagoForm.value.abono | currency}}</h2>
                    <h2 *ngIf="facturaSeleccionada.saldo-pagoForm.value.abono<0">Error</h2>
                  </div>
                </div>
              </div>
            </div>
            <!-- </fieldset> -->
          </form>
        </div>
        <div class="modal-footer">
          <button [disabled]="pagoForm.invalid" (click)="agregarPagoFacturaId()" type="button" class="btn btn-secondary">Realizar Pago</button>
          <button (click)="cerrarModalPago()" type="button" class="btn btn-primary">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
